main {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-bottom: 59px;
    min-height: 452px;
}

.content {
    margin: 0 auto;
    width: 980px;
    padding: 15px;
}

.mainbar {
    margin: 0;
    padding: 0;
}

.question-answers {
    float: left;
    overflow: hidden;
    width: 728px;
    padding-right: 40px;
}

.question {
    padding: 12px 0 40px 0;
    border-bottom: 1px solid #e4e6e8;
    text-align: left;
}

h1 {
    margin-bottom: .5em;
    line-height: 1.3;
    font-size: 22px;
}

p {
    margin-bottom: 1em;
    font-size: 15px;
}

.tag {
    line-height: 18px;
    float: left;
}

.post-tag {
    font-size: 12px;
    background-color: #E1ECF4;
    display: inline-block;
    padding: .4em .5em;
    margin: 2px 6px 2px 0;
    line-height: 1;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    transition: all .15s ease-in-out;
}

.post-tag:hover {
    color: #39739d;
    background-color: #cee0ed;
    border-color: transparent;
}

.answer {
    padding-bottom: 20px;
    padding-top: 20px;
    width: 728px;
    border-bottom: 1px solid #e4e6e8;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.answer-rating-td {
    vertical-align: top;
    padding-right: 15px;
    display: block;
}

.answer-rating-div {
    min-width: 46px;
    text-align: center;
}

.answer-rating-up-off {
    height: 30px;
    background-position: 0 -170px;
    text-indent: -9999em;
    font-size: 1px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 40px;
    height: 30px;
    margin-bottom: 2px;
    background-image: url(https://cdn.sstatic.net/Sites/ru/img/sprites.png?v=d870db018c41);
    background-image: url(https://cdn.sstatic.net/Sites/ru/img/sprites.svg?v=01c1db151660),none;
    background-size: initial;
    background-repeat: no-repeat;
    overflow: hidden;
}

.rating-value {
    margin: 8px 0;
    display: block;
    color: #6a737c;
    font-size: 20px;
}

.answer-rating-down-off {
    height: 30px;
    background-position: 0 -220px;
    text-indent: -9999em;
    font-size: 1px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 40px;
    background-image: url(https://cdn.sstatic.net/Sites/ru/img/sprites.png?v=d870db018c41);
    background-image: url(https://cdn.sstatic.net/Sites/ru/img/sprites.svg?v=01c1db151660),none;
    background-size: initial;
    background-repeat: no-repeat;
    overflow: hidden;
}

.answer-text-td {
    vertical-align: top;
}

.answer-text-div {
    width: 660px;
    margin-bottom: 5px;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 1.3;
    text-align: left;
}

.answer-text-div p {
    margin-bottom: 1em;
    margin-top: 0;
}

.date-who {
    width: auto;
    line-height: inherit;
    padding-top: 4px;
    white-space: nowrap;
    float: right;
}

.date {
    font-size: 12px;
    color: #9199a1;
    padding-right: 5px;
}

.who {
    font-size: 12px;
    cursor: pointer;
    color: #07C
}

.who-reputation {
    color: #848d95;
    font-weight: bold;
    font-size: 12px;
    margin-right: 2px;
}

h2 {
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 1em;
}

.post-form {
    margin: 0 auto;
    width: 980px;
    text-align: left;
}

.info-my-answer {
    background-color: #0077dd;
    color: #FFF;
    font-size: 15px;
    width: 300px;
    padding: 10px;
    display: inline-block;
}

textarea {
    font-size: 14px;
    color: #3b4045;
    background: #FFF;
    border: 1px solid #c8ccd0;
    resize: none;
    padding: 10px;
    height: 200px;
    line-height: 1.3;
    width: 660px;
    margin-top: 20px;
}

.post-form input[type=submit] {
    display: block;
    font-size: 18px;
    margin-top: 10px;
    background-color: #0077dd;
    color: #FFF;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid transparent;
}

.similar-question-menu {
    padding-left: 30px;
    overflow: hidden;
    width: 300px;
    margin-left: 40px;
    position: relative;
}

.h-related {
    font-size: 15px;
    color: #242729;
    font-weight: 600;
    margin-bottom: 1em;
}

.related-questions {
    font-size: 13px;
    line-height: 1.3;
}

.related-question {
    margin-bottom: 12px;
    text-align: left;
    display: flex;
}

.count-answer-in-similar-question {
//  padding-right: 10px;
    color: #3b4045;
    background-color: #eff0f1;
    padding: 3px;
    padding-bottom: 1px;
    width: 38px;
    text-align: center;
    box-sizing: border-box;
    height: auto;
    float: none;
    border-radius: 2px;
    border: 1px solid transparent;
    min-width: 36px;
    min-height: 15px;
    margin-right: 20px;
}

.question-hyperlinc {
    display: inline-block;
    padding-top: 4px;
    color: #07C;
    line-height: 1.3;
}

.question-hyperlinc:hover {
    color: #3af;
}

code {
    background-color: lightgray;
    display: inline-block;
    margin: 5px 0;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.form-container {
    width: 680px;
    padding: 30px;
    padding-top: 0px;
    background: #FFF;
    position: relative;
    display: none;
}

.form-container label {
    font-weight: bold;
    font-size: 18px;
    padding: 7px;
    display: inline-block;
}

.form-container .label-header {
    margin-bottom: 5px;
}

.token {
    margin-top: 15px;
}

.form-container input[type=text] {
    padding: 10px;
    font-size: 18px;
    width: 680px;
    margin-left: 5px;
    margin-bottom: 8px;
    cursor: auto;

}

.form-container textarea {
    margin-left: 5px;
    margin-top: 30px;
    width: 680px;
    height: 200px;
}

.form-submit {
    margin-top: 30px;
    margin-left: 5px;
    text-align: center;
    background: #07C;
    color: #FFF;
    border-radius: 3px;
    width: 180px;
    padding: 12px 40px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.center {
    text-align: center;
}
