main {
    margin: 0 auto;
    width: 100%;
    min-height: 893px;
}

.form-container {
    top: 5px;
    width: 605px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #e4e6e8;
    background: #FFF;
    position: relative;
}

.form-container label {
    font-weight: bold;
    font-size: 18px;
    padding: 7px;
    display: inline-block;
}

.form-container .label-header {
    margin-bottom: 5px;
}

.token {
    margin-top: 15px;
}

.form-container input[type=text] {
    padding: 10px;
    font-size: 18px;
    width: 590px;
    margin-left: 5px;
    margin-bottom: 8px;
    cursor: auto;

}

.form-container textarea {
    margin-left: 5px;
    margin-top: 30px;
    width: 590px;
    height: 200px;
}

.form-submit {
    margin-top: 30px;
    margin-left: 5px;
    text-align: center;
    background: gray/*#07C*/;
    color: #FFF;
    border-radius: 3px;
    width: 180px;
    padding: 12px 40px;
    border: none;
    font-size: 16px;
}

.error-create-question {
    border: 1px solid red;
    color: black;
    text-align: center;
    position: relative;
    float: right;
    right: 1.8%;
    height: 64px;
    width: 350px;
    top: 465px;
}

.text-info {
    padding: 15px;
    display: inline-block;
    position: relative;
}