main {
    margin: 0 auto;
    width: 760px;
    text-align: center;
    padding-bottom: 60px;
}

main hr {
    width:760px;
}

.user-card {
    min-height: 300px;
    text-align: left;
    margin-top: 30px;
}

.user-card-avatar-wrapper {
    width: 220px;
    height: 350px;
    margin-right: 20px;
    text-align: center;
    display:inline-block;
    overflow-x: hidden;
}

.user-card-avatar {
    padding: 15px;
    border: 1px solid #c8ccd0;
    border-radius: 4px;
}

input[type=button] {
    margin-top: 20px;
    text-align: center;
    background: #07C;
    color: #FFF;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    padding: 3px;
}

#delete-user-ava {
    display: none;
    margin-left: 65px;
}

.about {
    width: 300px;
    height: 326px;
    display:inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
    margin-right: 20px;
}

.user-card-name {
    color: #0C0D0E;
    margin: 10px 0 6px 0;
    line-height: 28px;
    word-break: break-all;
}

.discription {
    font-size: 15px;
    line-height: 20px;
    padding-right: 20px;
}

p {
    word-break: break-all;
}

textarea {
    width: 314px;
    height: 272px;
    display: none;
}

.info {
    width: 172px;
    height: 300px;
    display: inline-block;
    overflow-x: hidden;
}

.info-elem {
    margin-top: 20px;
    color: #666;
    font-size: 15px;
}

.number {
    color: #0C0D0E;
    font-weight: 700;
    font-size: 16px;
}

.edit {
    font-size: 17px;
    margin-left: 245px;
    margin-top: 30px;
    padding: 5px;
}

.fake-div {
    width: 1px;
    height: 47px;
}

.submit-edited-account /*input[type=submit]*/ {
    font-size: 17px;
    margin-left: 245px;
    margin-top: 0px;
    padding: 5px;
    color: white;
    background-color: #07C;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    display: none;
}

.file-form #file-form-label {
    float: left;
    height: 20px;
    line-height: 22px;
    overflow: hidden;
    padding: 1px;
    text-align: left;
    vertical-align: middle;
    width: 127px;
}

.file-form {
    border: 1px solid #c8ccd0;
    height: 21px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 190px;
    margin-left: 14px;
    margin-top: 15px;
    display: none;
}

.file-form .select-button {
    background-color: #07C;
    border-radius: 2px;
    color: #FFFFFF;
    float: right;
    font-size: 12px;
    height: 17px;
    line-height: 17px;
    overflow: hidden;
    padding: 2px 3px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}

.file-form #upload {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    filter: alpha(opacity=0);
    opacity: 0;
    font-size: 15px;
    height: 30px;
    z-index:20;
    cursor: pointer;
}

.email-element {
    color: #0C0D0E;
    font-weight: 700;
    font-size: 12px;
    padding-top: 3px;
    display: inline-block;
}

#email-user-edit {
    padding-left: 0px;
    margin-left: 0px;
    width: 168px;
    margin-top: 3px;
    display: none;
}

#user-card-name-edit-id {
    display: none;
    width: 200px;
    font-size: 18px;
}

.role {
    display: inline-block;
    margin-left: 3px;
    font-weight: 800;
}

