footer {
    background: #1F75FE;
}

footer .footer-wrapper {
    padding: 15px;
}

.dialog {
    background-color: white;
    /*position: absolute;*/
    color: #2f3337;
    box-shadow: 0 2px 2px rgba(12,13,14,0.2);
    border-left: 1px solid #e4e6e8;
    border-right: 1px solid #e4e6e8;
    border-bottom: 1px solid #e4e6e8;
    z-index: 200;
    display: none;
}

.footer-dialog-help {
    width: 620px;
    position: fixed;
    left: 30%;
    bottom: 20%;
}

.footer-dialog-help label {
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 10px;
}

.error-create-help-query {
    display: none;
    z-index: 201;
    border: 1px solid red;
    color: black;
    text-align: center;
    position: relative;
    float: right;
    right: 2%;
    height: 64px;
    width: 410px;
    top: 358px;
    font-size: 18px;
}

.text-info {
    padding: 15px;
    display: inline-block;
    position: relative;
}

.footer-dialog-help input[type=text] {
    padding: 10px;
    font-size: 18px;
    width: 592px;
    margin-left: 15px;
    margin-bottom: 8px;
    cursor: auto;
}

.body-text {
    margin-left: 15px;
    margin-top: 20px;
    width: 592px;
    height: 200px;
    border-color: rgb(169, 169, 169);
    display: block;
}

.form-helper-submit {
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 30px;
    text-align: center;
    background: #07C;
    color: #FFF;
    border-radius: 3px;
    width: 110px;
    padding: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

footer .footer-wrapper .footer-menu {
    text-align: center;
    font-size: 16px;
}

footer .footer-wrapper .footer-menu a {
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}

footer .footer-menu a:hover {
    color: black;
    cursor: pointer;
}