body {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    background: #FFF;
    color: #000;
    line-height: 1.3em;
    margin: 0;
    padding: 0;
    min-width: 1075px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

header {
    width: 100%;
    height: 35px;
    background: #1F75FE;
    line-height: 1em;
    font-size: 16px;
}

header .topbar-wrapper {
    margin: 0 auto;
    position: relative;
    width: 980px;
}

header .links {
    display: inline-block;
    vertical-align: top;
    position: absolute;
}

header .links .links-container {
    padding-top: 10px;
}

header .topbar-menu-links {
    display: inline-block;
    vertical-align: top;
    margin-top: -10px;
}

header a:visited, header a,
header a[id=login-logout], header a[id=language-dialog] {
    color: #ffffff;
    display: inline-block;
    height: 25px;
    padding: 10px 7px 0 7px;
}

header a:hover,
header a[id=login-logout]:hover, header a[id=language-dialog]:hover {
    background-color: red;
}

a:link {
    color: #07C;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #3af;
}

a:visited {
    color: #005999;
}

header .triangle {
    background-position: -119px -30px;
    display: inline-block;
    width: 11px;
    height: 13px;
    background-repeat: no-repeat;
    background-image: url(https://cdn.sstatic.net/img/share-sprite-new.png?v=e1b8bd67bc12);
    background-image: url(https://cdn.sstatic.net/img/share-sprite-new.svg?v=78be252218f3), none;
}

.topbar-dialog-language {
    left: 65px;
    width: 107px;
}

.topbar-dialog-login {
    left: 0px;
    width: 157px;
}

#wrap {
    opacity: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    z-index: 100;
    overflow: auto;
    background: gray;
    opacity: 0;
    display: none;
    background: gray;
}

.topbar-dialog-elem {
    font-size: 14px;
    color: black;
    display: inline-block;
    padding: 5px;
}

.error-message {
    font-size: 11px;
    color: red;
    float: right;
    width: 50%;
}

.modal-content-login {
    padding-top: 34px;
}

header .topbar-dialog-login .input-fields {
    width: 143px;
    margin-left: 5px;
    margin-bottom: 8px;
    cursor: auto;
}

header .topbar-dialog-login .topbar-dialog-submit/*input[type=submit]*/ {
    margin-bottom: 10px;
    cursor: pointer;
}

.topbar-dialog {
    background-color: white;
    position: absolute;
    color: #2f3337;
    box-shadow: 0 2px 2px rgba(12,13,14,0.2);
    border-left: 1px solid #e4e6e8;
    border-right: 1px solid #e4e6e8;
    border-bottom: 1px solid #e4e6e8;
    z-index: 200;
    display: none;
}

.modal-content {
    box-sizing: border-box;
    padding: 5px;
    margin: 1px 0 1px 0;
}

ul, li {
    padding-left: 0;
    margin-bottom: 0;
    line-height: 1.3;
}

li {
    list-style: none;
}

.top-li {
    border-bottom: 1px solid #eff0f1;
}

header .topbar-dialog-language .language {
    font-size: 14px;
    color: black;
    display: block;
}

header .topbar-dialog-language .language:hover {
    background-color: #e4e6e8;
}

header .topbar-search {
    position: absolute;
    right: 0;
    margin-top: 1px;
}

header .topbar-search input[type=text] {
    margin: 3px 0 0 20px;
    width: 225px;
    height: 26px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 24px;
    font-size: 16px;
    color: #6a737c;
    background-image: url(https://cdn.sstatic.net/img/share-sprite-new.png?v=e1b8bd67bc12);
    background-image: url(https://cdn.sstatic.net/img/share-sprite-new.svg?v=78be252218f3), none;
    background-repeat: no-repeat;
    background-position: -267px -90px ;
    border: 1px solid #0C0D0E;
}

.in-main-header{
    margin: 0 auto;
    width: 100%;
}

.container-logo {
    margin: 0 auto;
    width: 756px;
    height: 96px;
    padding-top: 40px;
    padding-bottom: 30px;
    position: relative;
}

.logo {
    position: absolute;
}

.user {
    right: 0;
    position: absolute;
}

.user-name {
    font-size:18px;
    padding-right: 50px;
    display: inline-block;
    bottom: 35px;
    position: relative;
}

.ava {
    border-radius: 100px;
    border: 3px solid green;
    box-shadow: 0 0 7px #666;
}