.content {
    min-height: 474px;
    margin: 0 auto;
    width: 980px;
    padding: 15px;
    margin-bottom: 7px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.mainbar {
    width: 1060px;
    margin: 0;
    padding: 0;
}

.count-answers {
    padding: 8px 5px;
    line-height: 1;
    display: inline-block;
    height: 38px;
    min-width: 40px;
    margin: 0 10px 0 10px;
    font-size: 11px;
    color: #848d95;
    vertical-align: top;
    float: left;
    border: 1px solid lightgrey;
}

.counter {
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    color: #6a737c;
    margin-bottom: 2px;
    padding-bottom: 3px;
}

.div-center {
    text-align: center;
}

.record {
    padding: 12px 0 10px 0;
    border-bottom: 1px solid #e4e6e8;
    overflow: hidden;
    width: 728px;
    margin: 0 auto;
}

.contents {
    width: 728px;
    padding: 0;
}

.contents h3 {
    margin-bottom: .35em;
    font-size: 15px;
}

.record .tag {
    line-height: 18px;
    float: left;
}

.record .date-who {
    width: auto;
    line-height: inherit;
    padding-top: 9px;
    white-space: nowrap;
    float: right;
}

.record .post-tag {
    font-size: 12px;
    background-color: #E1ECF4;
    display: inline-block;
    padding: .4em .5em;
    margin: 2px 6px 2px 0;
    line-height: 1;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    transition: all .15s ease-in-out;
}

.record .post-tag:hover {
    color: #39739d;
    background-color: #cee0ed;
    border-color: transparent;
}

.help-text {
    margin-bottom: 4em;
    font-size: 15px;
}

.date-who {
    width: auto;
    line-height: inherit;
    padding-top: 9px;
    white-space: nowrap;
    float: right;
}

.date-who .date {
    font-size: 12px;
    color: #9199a1;
    padding-right: 5px;
}

.date-who .who {
    font-size: 12px;
}

.date-who .who-reputation {
    color: #848d95;
    font-weight: bold;
    font-size: 12px;
    margin-right: 2px;
}