main {
    margin: 0 auto;
    width: 760px;
    text-align: center;
    padding-bottom: 77px;
}

.message-container {
    min-height: 316px;
    text-align: left;
}

.message-container h1 {
    margin-bottom: 3em;
    margin-top: 50px;
    line-height: 1.3;
    font-size: 22px;
}

