.new {
    font-size: 10px;
    vertical-align: top;
    color: gray;
}

.new-question {
    line-height: 0.5em;
}

.new-question-with-margin-left {
    margin-left: 5px;
    display: inline-block;
}

#change-role-a, #verified {
    display: inline-block;
    margin-right: 15px;
    color: red;
    text-decoration: underline;
    cursor: pointer;
    font-size: 12px;
}

#change-role-a:hover, #verified:hover {
    color: black;
}

.new-account {
    font-size: 12px;
    margin-top: 5px;
}

.right {
    float: right;
}

.change-role {
    margin-top: 5px;
}

.edit-image {
    font-size: 1px;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    width: 12px;
    height: 12px;
    margin-left: 5px;
    margin-right: 2px;
    background-size: initial;
    background-repeat: no-repeat;
    overflow: hidden;
}

.edit-pancil {
    background-image: url(/page/image/pencil.png);
}

.edit-delete {
    background-image: url(/page/image/delete.png);
}