.page {
    margin-bottom: 30px;
    margin-top: 22px;
    /*position: relative;*/
    margin-left: 65%;
}

.page-number {
    display: inline-block;
    padding: 4px 8px;
    font-size: 12px;
    color: #848d95;
    border: 1px solid #e4e6e8;
    background-color: transparent;
}

.page-number:hover {
    text-decoration: none;
    background: red;
    color: white;
    transition: all .15s ease-in-out;
}

.current {
    color: #FFF;
    background-color: red;
    border-color: transparent;
}

.page-number .dots, .dots:hover {
    color: #848d95;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}