main {
    margin: 0 auto;
    width: 760px;
    text-align: center;
    padding-bottom: 77px;
}

main hr {
    width:760px;
}

.users-container {
    min-height: 419px;
}

.user-info {
    height: 67px;
    box-sizing: border-box;
    padding: 5px 6px 7px 7px;
    width: 200px;
    color: #6a737c;
    margin: 10px;
    overflow: hidden;
}

.users-container .user-info {
    margin-bottom: 1.2em;
    width: 90%;
}

.users-container .user-info:hover {
    background-color: #f4f8fb;
    transition: background .1s ease-in-out;
}

.user-ava {
    float: left;
    width: 48px;
    height: 48px;
    border-radius: 2px;
    box-shadow: 2px 2px 4px rgba(12,13,14,0.5);
    border-collapse: separate;
}

.user-details {
    float: left;
    margin-left: 15px;
    line-height: 1.3;
    text-align: left;

}

.user-rating {
    line-height: 1;
    margin-top: 7px;
}

.user-rating span {
    font-weight: bold;
    font-size: 12px;
    margin-right: 2px;
}

.users-container .user-details > a {
    font-size: 15px;
    display: inline-block;
}

.users-container tbody>tr>td {
    width: 20%;
    vertical-align: top;
}
