.content {
    min-height: 474px;
    margin: 0 auto;
    width: 980px;
    padding: 15px;
    margin-bottom: 7px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.mainbar {
    width: 1060px;
    margin: 0;
    padding: 0;
}

.question {
    float: left;
    padding: 12px 0 10px 0;
    border-bottom: 1px solid #e4e6e8;
    overflow: hidden;
    width: 728px;
}

.count-answers {
    padding: 8px 5px;
    line-height: 1;
    display: inline-block;
    height: 38px;
    min-width: 40px;
    margin: 0 10px 0 10px;
    font-size: 11px;
    color: #848d95;
    vertical-align: top;
    float: left;
    border: 1px solid lightgrey;
}

.counter {
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    color: #6a737c;
    margin-bottom: 2px;
    padding-bottom: 3px;
}

.div-center {
    text-align: center;
}

.summary  {
    width: 622px;
    padding: 0;
    float: left;
}

.summary h3 {
    margin-bottom: .35em;
    font-size: 15px;
}

.summary .link {
    line-height: 1.3;
    margin-bottom: 1.2em;
}

.summary .link:hover {
    color: #0095ff;
}

.summary .tag {
    line-height: 18px;
    float: left;
}

.post-tag {
    font-size: 12px;
    background-color: #E1ECF4;
    display: inline-block;
    padding: .4em .5em;
    margin: 2px 6px 2px 0;
    line-height: 1;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    transition: all .15s ease-in-out;
}

.post-tag:hover {
    color: #39739d;
    background-color: #cee0ed;
    border-color: transparent;
}

.question .date-who {
    width: auto;
    line-height: inherit;
    padding-top: 9px;
    white-space: nowrap;
    float: right;
}

.question .date-who .date {
    font-size: 12px;
    color: #9199a1;
    padding-right: 5px;
}

.question .date-who .who {
    font-size: 12px;
}

.question .date-who .who-reputation {
    color: #848d95;
    font-weight: bold;
    font-size: 12px;
    margin-right: 2px;
}

.topic-menu {
    padding-left: 30px;
    overflow: hidden;
    width: 300px;
    margin: 0 0 15px 0;
    position: relative;
}

.topic-menu .topic-title {
    color: #242729;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 1em;
}

.topic-menu .post-tag {
    margin-bottom: .5em;
}

.ar {
    text-align: right;
    margin-bottom: 1em;
    margin-top: 0;
    padding-right: 100px;
}

.ar a:hover {
    color: #3af;
}