.form-container {
    top: 5px;
    width: 470px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #e4e6e8;
    position: relative;
}

.form-container label {
    font-weight: bold;
    font-size: 16px;
    padding: 7px;
    display: inline-block;
}

.comment {
    color: grey;
    font-size: 10px;
}

main {
    margin: 0 auto;
    width: 100%;
    min-height: 731px;
}

.form-container .input-required{
    width: 235px;
    line-height: 1.3em;
    font-size: 100%;
    padding: 16px;
    margin-left:5px;
    margin-bottom: 10px;
    height: 18px;
    border: 1px solid #e4e6e8;
    border-radius: 0;
}

.form-container textarea {
    width: 97%;
    height: 200px;
    resize: none;
    border: 1px solid #e4e6e8;
    border-radius: 0;
    margin-left: 5px;
    display: inline-block;
}

.file-form #file-form-label {
    float: left;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    padding: 3px;
    text-align: left;
    vertical-align: middle;
    width:159px;
    cursor: pointer;
}

.file-form {
    border: 1px solid #e4e6e8;
    height: 26px;
    overflow: hidden;
    padding: 4px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 245px;
    margin: 5px;
    cursor: pointer;
}

.file-form .select-button {
    background-color: #07C;
    border-radius: 2px;
    color: #FFFFFF;
    float: right;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    padding: 3px 6px;
    text-align: center;
    vertical-align: middle;
    width: 65px;
    cursor: pointer;
}

.file-form #upload {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    filter: alpha(opacity=0);
    opacity: 0;
    font-size: 150px;
    height: 30px;
    z-index:20;
    cursor: pointer;
}

.form-container .sub/*input[type=!*submit*!button]*/ {
    margin-top: 20px;
    margin-left: 5px;
    text-align: center;
    background: #07C;
    color: #FFF;
    border-radius: 3px;
    width: 180px;
    padding: 12px 40px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.info {
    z-index: 1;
    display: none;
    background-color: #0077dd;
    color: #FFF;
    text-align: left;
    position: relative;
    float: right;
    right: 33.9%;
}

.error-image {
    z-index: 1;
    display: none;
    border: 1px solid red;
    color: black;
    text-align: left;
    position: relative;
    float: right;
    right: 33.9%;
    height: 80px;
    width: 200px;
    top: 530px;
}

.info-login {
    height: 95px;
    width: 200px;
    top: 38px;
}

.info-password {
    height: 95px;
    width: 200px;
    top: 120px;
}

.text-info {
    padding: 15px;
    display: inline-block;
    position: relative;
}