main {
    margin: 0 auto;
    width: 760px;
    min-height: 485px;
    text-align: center;
    padding-bottom: 20px;
}

main hr {
    width:760px;
}

.topics-container {
    min-height: 420px;
}

.tag {
    display:inline-block;
    margin: 10px;
}

.post-tag {
    font-size: 12px;
    background-color: #E1ECF4;
    display: inline-block;
    padding: .4em .5em;
    margin: 2px 6px 2px 0;
    line-height: 1;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    transition: all .15s ease-in-out;
}

.post-tag:hover {
    color: #39739d;
    background-color: #cee0ed;
    border-color: transparent;
}

.topic-counter {
    margin-right: 7px;
    color: #848d95;
}
